.input-field-style {
    background-color: rgb(162, 169, 179);
    padding: 12px;
    border-radius: 0.5rem;
    --tw-text-opacity: 1;
    color: black;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.18) 0px -1px 0px inset;
   
  }
  
  .label-style {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0.25rem;
    --tw-text-opacity: 1;
    color: black;
  }
  .input-field-style::placeholder {
    color: rgb(103, 105, 103);
  }